.form-group{
  width: 35%;
  margin-top:20px;
  margin-left:25.7%;
}
.navbar{
  width: 50%;
  margin-top:20px;
  margin-left:20%;
}
.nav-link{
  margin-left: 60px;
}
.form-group label{
  text-align: center;
}
input.form-control{
  width: 70%;
  margin: auto;
  margin-top: 4px;
}
.App-header{
  background-color: rgb(147, 225, 154);
  width: 50%;
  margin: auto;
}
.form-check{
  margin-top: 17px;
}
.form-check input{
  margin-top: 10px;
}
.form-check label{
  margin-right: 70px;
}
.form-check button{
  margin-left: 29px;
}